 *{
	box-sizing: border-box;
	}
body{
	background-color: black;
}
.container{
	display: flex;
    width: 100%;
	margin: 0 auto;
	margin-top: 772px;
    padding-left: 900px;
	padding-top: 374px;
	background-color: white;
	height: 1456;
	}

}
.postion-box{
	
	position: relative;
    width: 514px;
    height: 448px;
	border: solid 1px grey;
	margin-bottom: 286px;
	margin-top: 200px;
}
.pos{
	margin-right: 200px;
}
.pos-img{
	width: 650px;
	height: auto;
    }
p{
	color: #a185858c;
	font-size: 60px;
}
h3{
	color: black;
	font-size: 50px;
} 
 